.lifeDelta {
    --animate-delay: 1s;
    --animate-duration: 2s;
    animation-composition: replace;
}

.lifeTracker {
    --animate-duration: 1s;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
}

.footerLink {
    color: black;
}