.columnTwoCardTitle {
    min-width: 4ch;
}

.column.counters {
    max-width: 410px;
}


.turnBox, .lifeBox {
    --animate-duration: 0.5s;
}

.turnCounter, .lifeTracker {
    min-width: 3ch;
}

.lifeDelta {
    min-width: 3ch;
    --animate-delay: 1s;
    --animate-duration: 1s;
    animation-composition: replace;
}

.magicCard {
    min-width: 100px;
    max-width: 370px;
}

.modal {
    --animate-duration: 0.5s;
}

.input.startingLifeInput, .input.difficultyInput {
    min-width: 10ch;
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    white-space: nowrap;
}
