.lifeDelta {
    --animate-delay: 1s;
    --animate-duration: 2s;
    animation-composition: replace;
}

.lifeTracker {
    --animate-duration: 0.5s;
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    width: 100%;
}
